/* src/ui/style.qss */

/* Global window background */
QWidget {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

/*Specific Label Styling */
QLabel[styleClass="link-label"]:hover {
    border: 2px solid slategrey;
    border-radius: 3px;
    background-color: #333333;
    color: #ffffff;
}

/* Button Styling */
QPushButton {
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 4px;
    padding: 6px 12px;
}

QPushButton:hover {
    background-color: #444444;
    border-color: #777777;
}

QPushButton:pressed {
    background-color: #222222;
}

/* Game Card Widget Styling */
#game-card {
    background-color: #252525;
    border: 1px solid #333;
    /* 1. Set the corner radius here */
    border-radius: 12px;
}

/* Optional: add a nice hover effect */
#game-card:hover {
    border: 1px solid #555;
}

#card-label {
    background: qlineargradient(
        x1: 0,
        y1: 0,
        x2: 0,
        y2: 1,
        stop: 0 transparent,
        stop: 1 rgba(0, 0, 0, 220)
    );
    color: white;
/*    text-shadow: 1px 1px 2px black; /* This helps text pop against any color */
    padding: 5px 10px; /* Top/Bottom 5px, Left/Right 10px */
    font-weight: bold;
    /* Remove radius here since it's now inside the image */
}

/* Scrollbar styling */
QScrollBar:vertical {
    background: #555555;
    width: 10px;
}

QScrollBar:horizontal {
    background: #555555;
    height: 10px;
}

QScrollBar::handle:horizontal {
    background: lightslategray;
    border: 1px solid darkgray;
    border-radius: 5px;
}

QScrollBar::handle:vertical {
    background: lightslategray;
    border: 1px solid darkgray;
    border-radius: 5px;
}

QProgressBar {
    font-weight: bold;
    text-align: center left;
    padding-left: -2px;
    background-color: transparent;
}

/* Progress Bar Styling */
QProgressBar::chunk {
    /* dodgerblue */
    background-color: rgba(30, 144, 255, 0.5); /* The "progress" blue color */
}
